# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners
* @openfrontio/core-contributor
resources/lang @openfrontio/translation-approver
resources/lang/en.json @openfrontio/core-contributor
