@font-face {
    font-family: 'Overpass';
    src: url('/resources/fonts/overpass.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Overpass', sans-serif;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background-color: #15151500;
    background-image: url('/resources/images/watercolor_worldmap.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-blend-mode: overlay;
}

.content {
    max-width: 1020px;
    margin: 0 auto;
    padding: 20px;
    position: relative;
}

h1 {
    font-family: Arial, serif;
    text-align: center;
    color: #2e2e2e;
    font-size: 8em;
    margin-bottom: 30px;
}

#username-container {
    margin-bottom: 30px;
}

#username {
    width: 100%;
    padding: 15px;
    font-size: 18px;
    border: 2px solid #007bff;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.8);
}

#lobbies-container {
    display: flex;
    justify-content: center;
}


.lobby-button {
    width: 500px;
    height: 500px;
    font-size: 24px;
    font-weight: bold;
    border: 3px solid #007bff;
    background-color: rgba(0, 123, 255, 0.2);
    color: #ffffff;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    padding: 20px;
    text-align: center;
    box-sizing: border-box;
}

.lobby-button:hover {
    background-color: rgba(0, 123, 255, 0.4);
    transform: translateY(-5px);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.4);
}

.lobby-button.highlighted {
    background-color: rgba(0, 123, 255, 0.6);
    transform: translateY(-5px);
    box-shadow: 0 6px 20px rgba(0, 123, 255, 0.6);
    border-color: #ffffff;
}

.lobby-name {
    font-size: 52px;
    margin-bottom: 20px;
    color: #000000;
}

.lobby-timer {
    font-size: 36px;
    margin-bottom: 20px;
    color: #000000;

}

.player-count {
    font-size: 36px;
    color: #000000;
}

.joining-message {
    font-size: 48px;
    color: rgb(0, 0, 0);
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}