@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
    touch-action: manipulation;
    -ms-touch-action: manipulation;
}

* {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


@font-face {
    font-family: 'Overpass';
    src: url('/resources/fonts/overpass.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Overpass', sans-serif;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background-color: #15151500;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-blend-mode: overlay;
}

html,
body {
    height: 100%;
    overflow: hidden;
}

.content {
    max-width: 100%;
    margin: 0 auto;
    padding: 20px;
    position: relative;
}

h1 {
    font-family: Arial, serif;
    text-align: center;
    color: #2e2e2e;
    font-size: 3em;
    margin-bottom: 10px;
    margin-top: 1em;
}

h2 {
    font-family: Arial, serif;
    text-align: center;
    color: #2e2e2e;
    font-size: 1.5em;
    margin-bottom: 50px;
}

h3 {
    font-family: Arial, serif;
    text-align: center;
    color: #000000;
    font-size: 1.2em;
    margin-bottom: 1em;
}

#username-container {
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
}

#username {
    width: 90%;
    max-width: 500px;
    padding: 10px;
    font-size: 16px;
    text-align: center;
    border: 2px solid #007bff;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.8);
    margin: 1em auto;
    display: block;
}

.joining-message {
    font-size: 24px;
    color: rgb(0, 0, 0);
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.discord-link {
    position: fixed;
    top: 20px;
    right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    background-color: #5865F2;
    border-radius: 50%;
    transition: background-color 0.3s ease;
}

.discord-link:hover {
    background-color: #4752C4;
}

.discord-logo {
    width: 30px;
    height: 30px;
}

@media (min-width: 768px) {
    h1 {
        font-size: 6em;
    }

    h2 {
        font-size: 2.5em;
    }

    h3 {
        font-size: 2em;
        margin: 1em;
    }

    #username {
        font-size: 24px;
    }

    .lobby-button {
        width: 400px;
        height: 400px;
    }

    .lobby-name {
        font-size: 36px;
    }

    .lobby-timer,
    .player-count {
        font-size: 24px;
    }

    .discord-link {
        top: 50px;
        right: 50px;
        width: 70px;
        height: 70px;
    }

    .discord-logo {
        width: 40px;
        height: 40px;
    }
}

#customMenu {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    padding: 10px;
    z-index: 1000;
}

#customMenu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#customMenu ul li {
    padding: 8px 12px;
    cursor: pointer;
}

#customMenu ul li:hover {
    background-color: #f1f1f1;
}

#table-container {
    background-color: rgba(0, 0, 0, 0.7);
}

/* Events Table Styles */
.events-table {
    width: 100%;
    border-collapse: collapse;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.events-table th,
.events-table td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid rgba(255, 255, 255, 0.0);
    z-index: 1000;
}

.events-table th {
    background-color: rgba(0, 0, 0, 0.0);
    font-size: 1.2em;
    text-transform: uppercase;
}

.events-table tr:hover {
    background-color: rgba(255, 255, 255, 0.0);
}

.btn {
    display: inline-block;
    padding: 8px 16px;
    margin: 5px 10px 5px 0;
    background-color: #4CAF50;
    color: white;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #45a049;
}

.btn-info {
    background-color: #2196F3;
}

.btn-info:hover {
    background-color: #0b7dda;
}

@media (max-width: 600px) {

    .events-table th,
    .events-table td {
        padding: 10px;
    }

    .btn {
        display: block;
        margin: 5px 0;
    }
}


/* Radial Menu */
.radial-menu {
    position: absolute;
    display: none;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.5);
}

.menu-item {
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    cursor: pointer;
}

/* Events display */

.events-display {
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 10px;
    box-sizing: border-box;
    max-height: 50vh;
    overflow-y: auto;
    width: 500px;
}

@media (max-width: 768px) {
    .events-display {
        left: 0;
        width: 100%;
    }
}

.events-table {
    width: 100%;
    border-collapse: collapse;
    font-size: 16px;
}

.events-table td {
    padding: 12px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    font-size: 18px;
}

.events-table button {
    margin-right: 12px;
    margin-bottom: 6px;
    padding: 8px 16px;
    font-size: 16px;
}

.events-table .highlight {
    background-color: rgba(255, 255, 0, 0.1);
}

.events-table .success {
    color: #66FF66;
}

.events-table .info {
    color: white;
}

.events-table .warn {
    color: orange;
}

.events-table .error {
    color: red;
}

/* EMOJI Table */


@media (max-width: 600px) {
    .emoji-button {
        font-size: 32px;
        /* Slightly smaller font size for mobile */
        width: 60px;
        /* Smaller width for mobile */
        height: 60px;
        /* Smaller height for mobile */
        margin: 5px;
        /* Smaller margin for mobile */
    }
}

@media (max-width: 400px) {
    .emoji-button {
        font-size: 28px;
        width: 50px;
        height: 50px;
        margin: 3px;
    }
}